<div class='row h-100'>
  <div class='col-sm-3 bg-light  py-4'>
    <%= search_form_for @q do |f|  %>
      <h6>Name</h6>
      <div class="input-group mb-3">
        <%= f.search_field :name_cont, class:'form-control'%>
        <%= f.submit class: 'btn btn-info' %>
      </div>
      <h6>Categories</h6>
      <% @genres.each do |genre|%>
        <div class="input-group mb-3">
          <%# <%= sort_link(@q, :genre_name_eq = 'Realistic fiction') do %>
            <%= genre.name %>
            <%# <% end %>
          </div>
        <%end%>
      <% end %>
    </div>
    <div class='col-sm-9  py-4'>
      <div class='row d-flex flex-row justify-content-center align-items-center km-custom-nav'>
        <%= paginate @search%>
      </div>
      <div class="row row-cols-5 g-4 py-4 mb-4">
        <% @search.each do |book| %>
          <%= render partial: "cover", locals: {book: book}   %>
        <%end%>
      </div>
      <div class='row d-flex flex-row justify-content-center align-items-center km-custom-nav'>
        <%= paginate @search%>
      </div>
    </div>
  </div>
